---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/base.astro";
const title = "Koichi's Projects";
const h1 = "Projects";

const projects = (await getCollection("projects")).sort(
    (a, b) => new Date(b.data.published).getTime() - new Date(a.data.published).getTime(),
);
---

<BaseLayout title={title} h1={h1}>
    <div class="max-w-4xl">
    <p class="mb-8 text-base text-(--color-text-second) dark:text-(--color-text-second-dark)">

    </p>
    <ul>
        {
            projects.map((project) => (
                <li class="border border-(--color-text-third) dark:border-(--color-text-third-dark) rounded p-4 sm:p-6 mb-8">
                    <a
                        href={project.data.primaryUrl}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="block"
                    >
                        <h2 class="text-lg sm:text-xl font-semibold mb-2 text-(--color-text-first) dark:text-(--color-text-first-dark)">
                            {project.data.name}
                        </h2>

                        {project.data.roles && project.data.roles.length > 0 && (
                            <p class="text-sm text-(--color-text-third) dark:text-(--color-text-third-dark) mb-3">
                                {project.data.roles.join(", ")}
                            </p>
                        )}
                        <p class="text-base text-(--color-text-second) dark:text-(--color-text-second-dark) mb-4">
                            {project.data.description}
                        </p>
                        {project.data.tags && project.data.tags.length > 0 && (
                            <>
                                <h3 class="text-base font-semibold text-(--color-text-first) dark:text-(--color-text-first-dark) mb-2">Tags</h3>
                                <ul class="flex flex-wrap gap-x-4 gap-y-1 p-0 list-none">
                                    {project.data.tags.map((tag) => (
                                        <li class="text-base text-(--color-text-second) dark:text-(--color-text-third-dark)">{tag}</li>
                                    ))}
                                </ul>
                            </>
                        )}
                    </a>
                </li>
            ))
        }
    </ul>
    </div>
</BaseLayout>
