---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageTitle from "../../components/PageTitle.astro";
import ListRow from "../../components/ListRow.astro";
import NewWindowLink from "../../components/NewWindowLink.astro";
import CopyLink from "../../components/CopyLink.astro";

const title = "Atom Feeds";
const metaTitle = title;

const feeds = [
    {
        label: "All",
        atom: "/feed/all",
        description: "All updates from writing and projects",
    },
    {
        label: "Writing",
        atom: "/feed/writing",
        description: "Only my writing posts",
    },
    {
        label: "Projects",
        atom: "/feed/projects",
        description: "Only my project releases",
    },
];
---

<BaseLayout metaTitle={metaTitle}>
    <PageTitle>{title}</PageTitle>
    <p
        class="mb-8 px-content-inset text-(--color-text-second) dark:text-(--color-text-second-dark)"
    >
        Subscribe to my writing and/or projects via Atom feeds. Atom is the more
        standarized and modern RSS. You can copy the links below and paste in
        RSS applications or clients just like RSS. I provide the full content in
        the feeds.
    </p>
    <div class="pb-4">
        <ul
            class="grid w-full gap-x-10 grid-cols-[minmax(0,1fr)_minmax(0,3fr)_max-content_max-content]"
        >
            {
                feeds.map((feed) => (
                    <ListRow
                        rowClass="col-span-full grid grid-cols-[subgrid]"
                        class="grid grid-cols-[subgrid] col-span-full items-center"
                    >
                        <span class="text-base text-(--color-text-second) dark:text-(--color-text-second-dark)">
                            {feed.label}
                        </span>
                        <span class="text-base text-(--color-text-third) dark:text-(--color-text-third-dark)">
                            {feed.description}
                        </span>
                        <CopyLink
                            href={`${import.meta.env.SITE || "https://koichin.com"}${feed.atom}`}
                            ariaLabel={`Copy ${feed.label} feed URL`}
                            class="text-base text-(--color-text-third) dark:text-(--color-text-third-dark) no-custom-underline"
                        >
                            Atom URL
                        </CopyLink>
                        <NewWindowLink
                            href={feed.atom}
                            ariaLabel={`${feed.label} Atom feed`}
                            class="text-base text-(--color-text-third) dark:text-(--color-text-third-dark) no-custom-underline"
                        >
                            Raw Atom file
                        </NewWindowLink>
                    </ListRow>
                ))
            }
        </ul>
    </div>
</BaseLayout>
