---
export interface Props {
    href: string;
    class?: string;
    ariaLabel?: string;
    target?: string;
    rel?: string;
    [key: string]: any;
}

const {
    href,
    class: className = "",
    ariaLabel,
    target,
    rel,
    ...rest
} = Astro.props;
---

<!-- prettier-ignore -->
<a
    href={href}
    class={className}
    target={target}
    rel={rel}
    aria-label={ariaLabel}
    {...rest}
    ><!--
    --><slot /><!--
    --><span
        class="ml-[0.2em] inline-block leading-none align-baseline"
        aria-hidden="true"><slot name="icon" /></span></a>
