---
import TrailingIcon from "./TrailingIcon.astro";
import LinkSvg from "../assets/link.svg";

export interface Props {
    copyValue: string;
    class?: string;
    ariaLabel?: string;
    iconClass?: string;
    trailingContentClass?: string;
    trailingIconWrapperClass?: string;
}

const {
    copyValue,
    class: className = "",
    ariaLabel = "Copy to clipboard",
    iconClass = "w-[1lh] h-[1lh]",
    trailingContentClass,
    trailingIconWrapperClass,
} = Astro.props;
---

<!-- prettier-ignore -->
<button
    type="button"
    class:list={[
        "inline align-baseline cursor-pointer appearance-none bg-transparent p-0",
        className,
    ]}
    aria-label={ariaLabel}
    data-copy-str
    data-copy-str-value={copyValue}
><TrailingIcon contentClass={trailingContentClass} class={trailingIconWrapperClass}><slot /><!--
--><LinkSvg slot="icon" class={iconClass} /></TrailingIcon></button>
