---
export interface Props {
    href?: string;
    target?: string;
    rel?: string;
    ariaLabel?: string;
    class?: string;
    rowClass?: string;
}

const {
    href,
    target,
    rel,
    ariaLabel,
    class: className = "",
    rowClass: rowClassName = "",
} = Astro.props;

const rowClass = [
    "group relative w-full rounded-lg hover:bg-(--color-hover) dark:hover:bg-(--color-hover-dark) before:content-[''] before:absolute before:top-0 before:left-[var(--spacing-list-divider-inset)] before:right-[var(--spacing-list-divider-inset)] before:border-t before:border-(--color-divider) dark:before:border-(--color-divider-dark) first:before:hidden hover:before:opacity-0 hover:[&+li]:before:opacity-0",
    rowClassName,
]
    .filter(Boolean)
    .join(" ");
const baseClass = "relative flex flex-col w-full px-surface-inset py-5";
const linkClass = [baseClass, className].filter(Boolean).join(" ");
---

<li class={rowClass}>
    {
        href ? (
            <a
                href={href}
                class={linkClass}
                target={target}
                rel={rel}
                aria-label={ariaLabel}
            >
                <slot />
            </a>
        ) : (
            <div class={linkClass}>
                <slot />
            </div>
        )
    }
</li>
