---
import List from "./List.astro";
import ListRow from "./ListRow.astro";
import { formatDate } from "../utils/date-formatter";
import { getReadingTime } from "../utils/reading-time";
import type { CollectionEntry } from "astro:content";

export interface Props {
    posts: CollectionEntry<"writing">[];
}

const { posts } = Astro.props;

// Compute reading time and formatted strings for each post
const postsWithReadingTime = posts.map((post) => {
    const readingTime = getReadingTime(post.body || "");
    const formattedDate = formatDate(post.data.published);
    return { post, formattedDate, readingTime };
});
---

<List
    class="grid w-full gap-x-12 grid-cols-[minmax(0,1fr)_max-content_max-content]"
>
    {
        postsWithReadingTime.map(({ post, formattedDate, readingTime }) => (
            <ListRow
                href={`/writing/${post.id}`}
                rowClass="col-span-full grid grid-cols-[subgrid]"
                class="grid grid-cols-[subgrid] col-span-full items-center"
            >
                <div class="min-w-0 flex items-center min-h-[1lh]">
                    <span class="text-base font-semibold text-(--color-text-second) dark:text-(--color-text-second-dark) underline decoration-transparent underline-offset-4 group-hover:decoration-current group-hover:text-(--color-accent-light) dark:group-hover:text-(--color-accent-dark) min-w-0 break-words leading-snug line-clamp-1">
                        {post.data.title}
                    </span>
                </div>
                <time
                    class="tabular-nums whitespace-nowrap text-right justify-self-end line-clamp-1 text-(--color-text-third) dark:text-(--color-text-third-dark)"
                    datetime={post.data.published.toISOString()}
                >
                    {formattedDate}
                </time>
                <span class="tabular-nums whitespace-nowrap text-right justify-self-end line-clamp-1 text-(--color-text-third) dark:text-(--color-text-third-dark)">
                    {readingTime}
                </span>
            </ListRow>
        ))
    }
</List>
