---
import BaseLayout from "./BaseLayout.astro";
import { getLocaleFromUrl } from "../i18n/utils";
import { useTranslations } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";

export interface Props {
    title?: string;
    h1?: string;
    published?: Date;
    lastUpdated?: Date;
    readingTime?: string;
}
const { title, h1, published, lastUpdated, readingTime } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(lang);

const formatDate = (date: Date) => {
    return new Date(date).toLocaleDateString(locale, {
        year: "numeric",
        month: "long",
        day: "numeric",
    });
};
---

<BaseLayout title={title} h1={h1}>
    {
        lastUpdated ? (
            <div class="mb-4 text-base text-(--color-text-third) dark:text-(--color-text-third-dark) flex items-center gap-2">
                <p>
                    {readingTime && `${readingTime} ${t("common.minRead")} `}
                    {t("common.published")}:{" "}
                    <time datetime={published?.toISOString()}>
                        {published && formatDate(published)}
                    </time>
                    {" "}{t("common.lastUpdated")}:{" "}
                    <time datetime={lastUpdated.toISOString()}>
                        {formatDate(lastUpdated)}
                    </time>
                </p>
            </div>
        ) : published ? (
            <p class="mb-4 text-base text-(--color-text-third) dark:text-(--color-text-third-dark)">
                {readingTime && `${readingTime} ${t("common.minRead")} `}
                <time datetime={published.toISOString()}>
                    {formatDate(published)}
                </time>
            </p>
        ) : null
    }
    <slot />
</BaseLayout>
