---
import BaseLayout from "./BaseLayout.astro";

export interface Props {
    title?: string;
    h1?: string;
    published?: Date;
    lastUpdated?: Date;
    readingTime?: number;
}
const { title, h1, published, lastUpdated, readingTime } = Astro.props;

const formatDate = (date: Date) => {
    return new Date(date).toLocaleDateString(undefined, {
        year: "numeric",
        month: "long",
        day: "numeric",
    });
};
---

<BaseLayout title={title} h1={h1}>
    {
        lastUpdated ? (
            <div class="mb-4 text-base text-(--color-text-third) dark:text-(--color-text-third-dark) flex items-center gap-2">
                <p>
                    {readingTime && `${readingTime} min read `} Published:{" "}
                    <time datetime={published?.toISOString()}>
                        {published && formatDate(published)}
                    </time>
                    Last updated:{" "}
                    <time datetime={lastUpdated.toISOString()}>
                        {formatDate(lastUpdated)}
                    </time>
                </p>
            </div>
        ) : published ? (
            <p class="mb-4 text-base text-(--color-text-third) dark:text-(--color-text-third-dark)">
                {readingTime && `${readingTime} min read `}
                <time datetime={published.toISOString()}>
                    {formatDate(published)}
                </time>
            </p>
        ) : null
    }
    <slot />
</BaseLayout>
