---
import BaseLayout from "../layouts/base.astro";
import Giscus from "../components/giscus.astro";

export interface Props {
    title?: string;
    h1?: string;
    date?: Date;
    update?: Date;
    readingTime?: number;
    showComments?: boolean;
}
const { title, h1, date, update, readingTime, showComments = true } = Astro.props;

const formatDate = (date: Date) => {
    return new Date(date).toLocaleDateString(undefined, {
        year: "numeric",
        month: "long",
        day: "numeric",
    });
};
---

<BaseLayout title={title} h1={h1} date={date} update={update}>
    {update ? (
        <div class="mb-4 text-sm text-(--color-text-third) dark:text-(--color-text-third-dark) flex items-center gap-2">
            <p>{readingTime && `${readingTime} min read •`} Published: <time datetime={date?.toISOString()}>{date && formatDate(date)}</time>• Last updated: <time datetime={update.toISOString()}>{formatDate(update)}</time></p>
        </div>
    ) : date ? (
        <p class="mb-4 text-sm text-(--color-text-third) dark:text-(--color-text-third-dark)">
            {readingTime && `${readingTime} min read • `}<time datetime={date.toISOString()}>{formatDate(date)}</time>
        </p>
    ) : null}
    <slot />
    {showComments && <Giscus />}
</BaseLayout>
