---
import { formatDate } from "../utils/date-formatter";
import NewWindowLink from "../components/NewWindowLink.astro";
import ProseLayout from "./ProseLayout.astro";
import type { TocHeading } from "../utils/table-of-contents";

export interface Props {
    title: string;
    effectiveDate?: Date;
    headings?: TocHeading[];
}
const { title, effectiveDate, headings } = Astro.props;
const website = "https://koichin.com";
const owner = "Koichi Nakayamada";
const formattedEffectiveDate = effectiveDate ? formatDate(effectiveDate) : "";
const contact = "mailto:k@koichin.com";
---

<ProseLayout title={title} headings={headings}>
    <p>
        Effective date: {formattedEffectiveDate}<br />
        Website: <NewWindowLink href={website}>{website}</NewWindowLink><br />
        Owner: {owner}<br />
        Contact: <NewWindowLink href={contact}>{contact.replace("mailto:", "")}</NewWindowLink>
    </p>
    <slot />
</ProseLayout>
