---
import { formatDate } from "../utils/date-formatter";
import NewWindowLink from "../components/NewWindowLink.astro";
import CopyStr from "../components/CopyStr.astro";
import ProseLayout from "./ProseLayout.astro";
import type { TocHeading } from "../utils/table-of-contents";
import { SOCIAL_LINKS } from "../utils/social-links";

export interface Props {
    title: string;
    effectiveDate?: Date;
    headings?: TocHeading[];
}
const { title, effectiveDate, headings } = Astro.props;
const website = "https://koichin.com";
const owner = "Koichi Nakayamada";
const formattedEffectiveDate = effectiveDate ? formatDate(effectiveDate) : "";
const contact = SOCIAL_LINKS.email;
---

<ProseLayout title={title} headings={headings}>
    <slot name="sidebar" slot="sidebar" />
    <p>
        Effective date: {formattedEffectiveDate}<br />
        Website: <NewWindowLink href={website}>{website}</NewWindowLink><br />
        Owner: {owner}<br />
        Contact: <CopyStr copyValue={contact}>{contact}</CopyStr>
    </p>
    <slot />
</ProseLayout>
