---
import ProseLayout from "./ProseLayout.astro";
import type { TocHeading } from "../utils/table-of-contents";
import NewWindowLink from "../components/NewWindowLink.astro";
import { SOCIAL_IDENTIFIERS, SOCIAL_LINKS } from "../utils/social-links";

export interface Props {
    title: string;
    subtitle?: string;
    description?: string;
    headings?: TocHeading[];
}
const { title, subtitle, description, headings } = Astro.props;
---

<ProseLayout
    title={title}
    subtitle={subtitle}
    description={description}
    headings={headings}
    fediverseCreator={SOCIAL_IDENTIFIERS.fediverseCreator}
>
    <slot name="sidebar-meta" slot="sidebar-meta" />
    <div class="lg:hidden">
        <slot name="meta" />
    </div>
    <article>
        <slot />
    </article>
    <div slot="cta" class="mt-10 px-content-inset text-base leading-relaxed">
        <div
            class="mb-10 border-t border-(--color-divider) dark:border-(--color-divider-dark)"
            aria-hidden="true"
        >
        </div>
        <p>
            For new writing or updates, subscribe to my <a href="/feed"
                >Atom feeds</a
            > or follow my
            <NewWindowLink href={SOCIAL_LINKS.mastodonProfile}
                >Mastodon account</NewWindowLink
            >.
        </p>
    </div>
</ProseLayout>
