---
import ProseLayout from "./ProseLayout.astro";
import type { TocHeading } from "../utils/table-of-contents";
import NewWindowLink from "../components/NewWindowLink.astro";
import { SOCIAL_IDENTIFIERS, SOCIAL_LINKS } from "../utils/social-links";

export interface Props {
    title: string;
    subtitle?: string;
    published: Date;
    lastUpdated?: Date;
    readingTime: string;
    description?: string;
    headings?: TocHeading[];
}
const { title, subtitle, description, headings } = Astro.props;
---

<ProseLayout
    title={title}
    description={description}
    headings={headings}
    fediverseCreator={SOCIAL_IDENTIFIERS.fediverseCreator}
>
    <slot name="sidebar" slot="sidebar" />
    {
        subtitle && (
            <p class="not-prose mb-4 text-base text-(--color-text-third) dark:text-(--color-text-third-dark)">
                {subtitle}
            </p>
        )
    }
    <article>
        <slot />
    </article>
    <div slot="cta" class="mt-10 px-content-inset text-base leading-relaxed">
        <div
            class="mb-10 border-t border-(--color-divider) dark:border-(--color-divider-dark)"
            aria-hidden="true"
        >
        </div>
        <p>
            For new writing or updates, subscribe to my <a href="/feed"
                >Atom feed</a
            > or follow me on
            <NewWindowLink href={SOCIAL_LINKS.mastodonProfile}
                >Mastodon</NewWindowLink
            >.
        </p>
    </div>
</ProseLayout>
