---
import { formatDate } from "../utils/date-formatter";
import ProseLayout from "./ProseLayout.astro";

export interface Props {
    title: string;
    published?: Date;
    lastUpdated?: Date;
    readingTime?: string;
    makeTitle?: boolean;
    description?: string;
}
const { title, published, lastUpdated, readingTime, makeTitle, description } =
    Astro.props;
---

<ProseLayout title={title} makeTitle={makeTitle} description={description}>
    {
        lastUpdated ? (
            <div class="not-prose mb-4 text-base text-(--color-text-third) dark:text-(--color-text-third-dark) flex items-center gap-2">
                <p>
                    {readingTime && `${readingTime} min read `} Published:{" "}
                    <time datetime={published?.toISOString()}>
                        {published && formatDate(published)}
                    </time>
                    Last updated:{" "}
                    <time datetime={lastUpdated.toISOString()}>
                        {formatDate(lastUpdated)}
                    </time>
                </p>
            </div>
        ) : published ? (
            <p class="not-prose mb-4 text-base text-(--color-text-third) dark:text-(--color-text-third-dark)">
                {readingTime && `${readingTime} min read `}
                <time datetime={published.toISOString()}>
                    {formatDate(published)}
                </time>
            </p>
        ) : null
    }
    <article>
        <slot />
    </article>
</ProseLayout>
